html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#utvalg {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes steinAnimasjon {
    0% {rotate: 0deg;top: 0px;}
    5% {rotate: 45deg;top: 0px;}
    10% {rotate: 90deg;top: 0px;}
    15% {rotate: 135deg;top: 0px;}
    20% {rotate: 180deg;top: 0px;}
    25% {rotate: 225deg;top: 0px;}
    30% {rotate: 270deg;top: 0px;}
    35% {rotate: 315deg;top: 0px;}
    40% {rotate: 360deg;top: 0px;}
    50% {rotate: 0deg; top: 0px;}
    80% {rotate: 0deg; top: 10px;}
    90% {rotate: 0deg; top: 20px;}
    92% {rotate: 0deg; top: 22px;}
    100% {rotate: 0deg; top: 0px;}
}

@keyframes saksAnimasjon {
    0% {rotate: 0deg;}
    5% {rotate: 45deg;}
    10% {rotate: 90deg;}
    15% {rotate: 135deg;}
    20% {rotate: 180deg;}
    25% {rotate: 225deg;}
    30% {rotate: 270deg;}
    35% {rotate: 315deg;}
    40% {rotate: 360deg;}
    50% {rotate: 0deg;}
    80% {rotate: 0deg;}
    92% {rotate: 0deg;}
    100% {rotate: 0deg;}
}

@keyframes papirAnimasjon {
    0% {rotate: 0deg;}
    5% {rotate: 45deg;}
    10% {rotate: 90deg;}
    15% {rotate: 135deg;}
    20% {rotate: 180deg;}
    25% {rotate: 225deg;}
    30% {rotate: 270deg;}
    35% {rotate: 315deg;}
    40% {rotate: 360deg;}
    50% {rotate: 0deg;}
    80% {rotate: 360deg;}
    92% {rotate: 0deg;}
    100% {rotate: 360deg;}
}

#stein {
    width: 100px;
    position: relative;
    animation-name: steinAnimasjon;
    animation-duration: 4s;
}

#saks {
    width: 100px;
    position: relative;
    animation-name: saksAnimasjon;
    animation-duration: 4s;
}

#papir {
    width: 100px;
    position: relative;
    animation-name: papirAnimasjon;
    animation-duration: 4s;
}