html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {

}

#i {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#utskrift {
    color: rgb(155, 119, 60);
}

#utskrift2 {
    color: rgb(155, 119, 60);
}