html,body {
    padding: 0;
    margin: 0;
}

.header {
    grid-area: header;

    display: flex;
    padding-right: 50px;
    background-image: url(../Bilder/scotland\ bilde.jpg);
    background-size: cover;
    justify-content: right;
    color: rgb(255, 255, 255);
}

#Visit {
    font-size: 4rem;
}

#Scotland {
    font-size: 9rem;
}

.menu {
    grid-area: menu;

    background-color: rgb(0, 94, 184);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 200%;
}

.minigrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    'one two three'
    'four five six';
     margin-left: 20px;
    font-size: 2.5rem;
}

body div div ul a {
    background-color: rgb(0, 94, 184);
    text-decoration-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

body div div ul :hover {
    background-color: rgb(13, 71, 129);
    text-decoration-color: rgb(148, 189, 255);
    color: rgb(148, 189, 255);
}

.to {
    grid-area: to;
    padding: 20px;
    color: rgb(0, 94, 184);
}

.tre {
    grid-area: tre;
    background-color: rgb(0, 94, 184);
    padding: 10px;
    color: rgb(255, 255, 255);
}

body div div p a {
    color: rgb(255, 255, 255);
}

.fire {
    grid-area: fire;
}

body div div img {
    width: 80%;
    margin-top: 80px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
    'header header menu menu'
    'to to to fire'
    'tre tre tre tre';
}