html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(67, 22, 22);
}

#boks {
    display: flex;
    width: 500px;
    height: 500px;
    background-color: rgb(149, 146, 128);
    flex-flow: column wrap;
    justify-content: space-evenly;
    padding-left: 10px;
}

#navn {
    width: 180px;
    height: 30px;
}

#passord {
    width: 180px;
    height: 30px; 
}

#farge {
    width: 90px;
    height: 90px;
}

#knapp {
    width: 80px;
    height: 25px;
}