html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(170, 206, 237);
}

#i {
    display: flex;
    justify-content: center;
    align-items: center;
}

#utskrift {
    color: rgb(155, 119, 60);
}