html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(218, 252, 250);
}

.tittel {
    grid-area: tittel;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(28, 85, 135);
}

.tekst {
    grid-area: tekst;
    padding: 20px;
    color: rgb(28, 85, 135);
}

body div div h2 {
    font-size: 2.5rem;
}

.heisann {
    font-size: 1.2rem;
}

.meny {
    grid-area: meny;
    font-size: 200%;
    background-color: rgb(165, 241, 251);
}

body div div ul a {
    background-color: rgb(165, 241, 251);
    color: rgb(28, 85, 135);
}

body div div ul :hover {
    background-color: rgb(218, 252, 250);
    color: rgb(28, 85, 135);
}

.menyy {
    display: flex;
    justify-content: space-evenly;
}

.bildet {
    grid-area: bildet;
    margin: 25px;
}

body div div img {
    width: 120%;
}

.infoboks {
    grid-area: infoboks;

    background-color: rgb(165, 241, 251);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 10px;
    margin: 35px;
    flex-flow: wrap column;
    font-size: 2rem;
    color: rgb(28, 85, 135);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(auto auto auto);
    grid-template-areas: 
    'bildet tittel tittel'
    'infoboks tekst tekst'
    'meny meny meny';
}